.a1{
	 float: left;
	 width: 33%;
	 height: 60px;
	 line-height: 60px;
	 }
	  		#logo{
	  			
	  		}
	  		.a2{
	  			color: white;
	  			text-decoration: none;
	  			height: 50px;
	  			line-height: 50px;
	  		}
	  		}
	  		#dl{
	  			line-height: 60px;
	  		}
	  		.a3 {
	  			float: left; text-align: center; width: 16.6%; height: 240px;
	  		}
	  		.a4{
	  			width:100%;height: 65%;
	  		}
